.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}
.click:hover{
  opacity: 0.3;
}

.approved{
  opacity: 0.5;
  pointer-events: none;
  color: grey;
}

.reviewed{
  opacity: 0.5;
  pointer-events: none;
  color: grey;
}