body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myspacing-right{
  margin-right: 10px;
}

.hover:hover {
  border-color: rgb(156, 210, 255) !important;
}

.on:hover{
  background-color: green !important;
  border-color: green !important;
}

.off:hover{
  background-color: red !important;
  border-color: red !important;
}